@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #585660;
  --secondary: #e7e7e7;
  --background: #ffffff;
  --primary-content: #ffffff;
  --secondary-content: #3b3b3b;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
